
/* nav css start */
.navbar-brand img{
    width: 65px;
    margin-left: 20px;
}
/* nav end  */
.navbar{
    background: #00000082 !important;
}
.navbar-nav li{
    padding: 0 30px;
}
.navbar-nav li a{
    color: white;
}
.img12 {
     width: 80%;
}

 .a {
     text-align: center;
     padding-top: 20px;
     text-transform: uppercase;
     font-family: 'prague';
     letter-spacing: 3px;
 }

 .c {
     background: url(https://pn-paul.netlify.app/image/img%20background.jpg);
     width: 100%;
     height: 450px;
     padding-top: 120px;
     margin-top: 20px;
 }

 .d {
     line-height: 35px;
     letter-spacing: 1px;
     word-spacing: 1px;
     padding-right: 5px;
 }

 .e {
     line-height: 25px;
     text-align: center;
     letter-spacing: 1px;
     word-spacing: 1px;
     padding: 0 250px;
     margin-top: 10px;
 }
 .btn{
    margin-top: 50px;
 }
 .hello{
    text-align: center;
    padding-top: 100px;
    letter-spacing: 3px;
    font-size: 40px;
    font-family: 'prague';
    text-transform: uppercase;
 }
 .q{
    height: 450px;
 }
 .s{
    background: url(https://pn-paul.netlify.app/image/ffback2.png);
    width: 100%;
    height: 500px;
    padding-top: 120px;
     margin-top: 20px;
 }
 .s h2{
    font-size: 40px;
 }
 .s p{
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
     word-spacing: 1px;
     /* padding: 0 250px; */
     margin-top: 10px;
 }
 footer{
    background: black;
    width: 100%;
    height: 400px;
 }