 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background:url("https://pninfosys.org/bannerFinal.jpg");
    background-position:20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
nav{
            background: whitesmoke;
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 100px;
            position: fixed;
            top: 0;
            z-index: 1;
}
.logo img{
    width: 160px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 20px;
}
.menu{
    /* margin-left: 500px; */
    /* margin-right: 200px; */
    text-transform: capitalize;
    
}
.menu a{
    font-weight: bolder;
    font-style: italic;
    font-size: 17px;
    padding: 0 15px;
    color: rgb(43, 42, 42);
    text-decoration: none;
}
.a{
    border: 1px solid rgb(0, 113, 187);
    background: rgb(0, 113, 187);
    opacity: 0.8;
    width: 555px;
    height: 710px;
    text-align:left;
    
}
.a h2{
    margin-top: 200px;
    font-size: 35px;
    color: white;
    margin-left: 40px;
}
.a h1{
    font-size: 50px;
    color: white;
    margin-left: 40px;
}
.a p{
    color: white;
    margin-left: 40px;
    margin-right: 60px;
    text-align: justify;
}
.b{
    border: 1px solid white;
    background-color: white;
    width: 100%;
    height: 250px;
}
.b h2{
    font-size: 40px;
    margin-left: 650px;
    margin-top: 40px;
    font-style: oblique;
    color:rgb(0, 113, 187);
}
.b p{
    font-size: 23px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 35px;
    font-style: oblique;
}
.c{
    border: 1px solid black;
    width: 100%;
    height: 2100px;
    background:linear-gradient(rgb(0, 113, 187),transparent),url(https://pninfosys.org/contentBgTwo.jpg);
    /* background-position-y: 0.8; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.c h2{
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    color: white;
    margin-top: 40px;
    line-height: 10px;
}
.c h1{
    margin-top: 100px;
    margin-left: 330px;
    color: white;
    font-style: oblique;
}
.d{
    display: flex;
}

.d p{
    
    width: 625px;
    height: 400px;
    color: white;
    font-size: 18px;
    margin-left: 100px;
    font-style: italic;
    line-height: 23px;
    word-spacing: 2px;
    padding: 0 20px;
    text-align: justify;
    font-weight: bold;
}
.d img{
    width: 600px;
    height: auto;
    margin-left: 40px;
}
.panel2{
  padding-top: 0; 
  padding-left: 630px;
}

.e{
    display: flex;

}
.e img{
     width: 500px;
    height: auto;
    margin-left: 190px;
}
.e p{
     width: 625px;
    height: 400px;
    color: white;
    font-size: 18px;
    margin-left: 70px;
    font-style: italic;
    line-height: 23px;
    word-spacing: 2px;
    padding: 0 20px;
    text-align: justify;
    font-weight: bold;
}

.f{
    display: flex;
}

.panel3{
  margin-top: 20px;
}

.f p{
     width: 625px;
    height: 400px;
    color: white;
    font-size: 18px;
    margin-left: 100px;
    font-style: italic;
    line-height: 23px;
    word-spacing: 2px;
    padding: 0 3px;
    text-align: justify;
    font-weight: bold;
}

.f img{
    width: 450px;
    height: auto;
    margin-left: 60px;
    margin-top: 0;
}
.g{
    width: 100%;
    height: 860px;
    background: rgb(240,242,247);
}
.g img{
    width: 1190px;
    height: auto;
    margin-top: 100px;
}
footer{ 
    background:url(https://pninfosys.org/footerImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -200px;
    background-attachment: fixed;
    font-family: arial, sans-serif;
 } 
.footer-logo{
    /* background: url(https://pninfosys.org/footerImage.jpg); */
    text-align: center; 
     border-bottom: 1px solid black;
}
.footer-logo img{ 
     margin-top: 30px;
     margin-bottom: 20px;
     margin-right: 50px;
} 
.footer-middle{ 
    /* background:url(https://pninfosys.org/footerImage.jpg); */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
     border-bottom: 1px solid black;
     padding: 20px 170px;
     color: white;
     line-height: 25px;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid black;
    /* background: url(https://pninfosys.org/footerImage.jpg); */
    padding: 20px 0;
    margin-right:60px ;
    color: white;
}


/* responsive design */

/* for phoen view */
@media (max-width: 480px) {
  body {
    background-position: -300px -70px;
  }
  nav {
    padding: 0 5px;
    height: 60px;
  }
  .logo img {
    width: 160px;
    height: 40px;
  }
  .menu {
    display:grid;
    margin-left:20px /* Hide the menu on mobile, a hamburger icon would be used with JS */
  }
  .a {
    width: 100%;
    height: 700px;
    /* padding: 25px; */
  }
  .a h2 {
    font-size: 35px;
  }
  .a p {
    margin: 0;
    padding-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
  }
  .b {
    height: 350px;
    padding: 20px;
  }
  .b h2 {
    margin: 0;
    font-size: 35px;
    text-align: center;
  }
  .b p {
    margin: 10px 0;
    font-size: 20px;
    line-height: 1.5;
  }
  .c {
    height: 3580px;
    padding-bottom: 50px;
  }
  .c h2 {
    font-size: 37px;
    margin: 0 50px;
    margin-top: 20px;
    line-height: normal;
  }
  .c h1 {
    /* margin:auto; */
    margin-top: 100px;
    margin-left: 110px;
    font-size: 25px;
  }
  .d, .e, .f {
    flex-direction: column;
    align-items: center;
  }
  .d p, .e p {
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
    padding: 0;
    .panel2{
      
    }
  }
  .panel3{
    padding-top: 150px;
  }
  .f p{
    width: 90%;
    margin: 0 10px;
    margin-top: 4px;
    font-size: 20px;

  }
  .d img {
    width: 90%;
    height: auto;
    /* margin: 20px auto; */
    margin-top: 250px;
    margin-right: 30px;
  }
.f img{
    width: 70%;
    height: auto;
    padding-top: 350px;
    margin-right: 70px;
}
.e img{
    width: 70%;
    margin-right: 200px;
}
  .g {
    height: auto;
    padding-bottom: 30px;
  }
  .g img {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 5%;
  }
  footer {
    background-position: center;
  }
  .footer-logo img{
    margin-left: 40px;
  }
  .footer-middle {
    display: grid; 
    padding: 20px;
    text-align: center;
  }
  .footer-middle h3{
    margin-top: 15px;
  }
  .footer-bottom{
    margin-left: 50px;
  }
}

