 *{
    margin:0;
    padding: 0;
}
body{
    background:url("https://pninfosys.org/bannerFinal.jpg");
    background-position: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav{
            background: whitesmoke;
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 100px;
            position: fixed;
            top: 0;
            z-index: 1;
}
.logo img{
    width: 160px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 20px;
}
.menu{
    margin-right: 200px;
    text-transform: capitalize;
    
}
.menu a{
    font-weight: bolder;
    font-style: italic;
    font-size: 17px;
    padding: 0 20px;
    color: rgb(43, 42, 42);
    text-decoration: none;
}
.a{
    border: 1px solid rgb(0, 113, 187);
    background: rgb(0, 113, 187);
    opacity: 0.8;
    width: 555px;
    height: 710px;
    text-align:left;
    
}
.a h2{
    margin-top: 200px;
    font-size: 35px;
    color: white;
    margin-left: 40px;
}
.a h1{
    font-size: 50px;
    color: white;
    margin-left: 40px;
}
.a p{
    color: white;
    margin-left: 40px;
    margin-right: 60px;
    text-align: justify;
}
.b{
    border: 1px solid white;
    background-color: white;
    width: 100%;
    height: 250px;
}
.b h2{
    font-size: 40px;
    margin-left: 650px;
    margin-top: 40px;
    font-style: oblique;
    color:rgb(0, 113, 187);
}
.b p{
    font-size: 23px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 35px;
    font-style: oblique;
}
.c{
    border: 1px solid black;
    width: 100%;
    height: 2000px;
    background:linear-gradient(rgb(0, 113, 187),transparent),url(https://pninfosys.org/contentBgTwo.jpg);
    /* opacity: 0.8; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.c h2{
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    color: white;
    margin-top: 40px;
    line-height: 10px;
}