*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
    
nav{
    background-color: whitesmoke;
    width: 100%;
    height:75px;
     display: flex;
     justify-content: space-between;
    align-items: center;
    padding:0 20px;
}
.banner{
    background:url(https://res.cloudinary.com/dow1049t2/image/upload/v1729238995/PN_INFOSYS/banner_gkibgn.png);
    width: 100%;
    height: 700PX;
    box-shadow: 1px 0 10px black;
    border-radius: 10px;
    
    field-sizing: cover;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: bolder;
    color: black;
  
}
