* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: white;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: fixed;
    top: 0;
    z-index: 1;

}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: bold;
    color: black;
}

.banner {
    background: url(/IMAGE/responsive_srcset_post-png.png);
    width: 100%;
    height: 500PX;
    background-repeat: no-repeat;
    field-sizing: cover;
}

.banner h1 {
    text-align: center;
    font-size: 60px;
    background: yellowgreen;
    margin: auto;
    width: 41%;

    position: relative;
    top: 40%;
}

.news {
    background: linear-gradient(to right, green, blue, red);
    width: 100%;
    height: 50px;
}

.news marquee {
    color: white;
    font-size: 30px;
    line-height: 50px;
}

.about {
    padding: 150px 200px;
    text-align: center;
    background: rgb(113, 105, 105);
}

.about h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px red;
}

.about p {
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 10px;

}

.about button {
    width: 215px;
    height: 42px;
    background: palevioletred;
    color: white;
    border: none;
    border-radius: 10px;
}


/* team css */

.team {
    padding: 150px 200px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7)), url(/IMAGE/responsive_srcset_post-png.png);
    color: white;
    /* background: rgba(0,0,0,0.7); */
    /* background: url(/IMAGE/responsive_srcset_post-png.png); */
}

.team h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px red;
}

.team p {
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 10px;

}

.team button {
    width: 215px;
    height: 42px;
    background: palevioletred;
    color: white;
    border: none;
    border-radius: 10px;
}


/* contact team */

.contact {
    padding: 150px 200px;
    text-align: center;
    background: linear-gradient(to right, yellowgreen, red, black), url(/IMAGE/10179318704_ca707f23b4_b.jpg);
    color: white;
    background: ;
    /* background: rgba(0,0,0,0.7); */
    /* background: url(/IMAGE/responsive_srcset_post-png.png); */
}

.contact h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px red;
}

.contact p {
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 10px;

}

.contact button {
    width: 215px;
    height: 42px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
}


/* footer */
footer {
    background-color: white;
    padding: 20px 0;
    margin-top: 20px;
    font-family: arial, sans-serif;

}

.footer-container {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 20px;

}
.footer-logo img{
    width: 120px;
}

.footer-links h3,
.footer-contact h3{
    margin-bottom: 10px;
    color: #333;
}

.footer-links a{
    display: block;
    color: #555;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s;
}
.footer-links a:hover{
    color: #e91e63;
}

.footer-contact p{
    margin: 5px 0;
    color: #555;
}

.footer-bottom{
    text-align: center;
    margin-top: 15px;
    color: #555;
    font-size: 14px;
    border-top: 2px solid #ddd;
    padding-top: 10px;
}


/* responsive design */

/* for tables (max width 992px) */
@media (max-width: 992px){
    nav{
        padding: 0 40px;
    }

    .banner h1{
        font-size: 40px;
        width:70%;
    }

    .about,.team,.contact{
        padding: 80px 50px;
    }
}
@media (max-width: 768px){
    nav{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .menu{
        margin-top: 10px;
    }

    .banner h1{
        font-size: 28px;
        width: 90%;
    }

    .about,.team,.contact{
        padding: 50px 20px;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
    }

    .footer-links a{
        display: inline-block;
        margin: 5px;
    }
}


/* for very small screens (max width 480px) */
@media(max-width:480px){
    .banner h1{
        font-size: 22px;
        padding: 10px;
    }

    .about h2,.team h2,.contact h2{
        font-size: 22px;
    }

    .about button,.team button,.contact button{
        width: 150px;
        height: 38px;
        font-size: 14px;
    }
}